---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Gallery from "../components/Gallery.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";

import natalia from "../assets/natalia.webp";
---

<Layout>
  <div
    data-bs-spy="scroll"
    data-bs-target="#navbar"
    data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true"
  >
    <Hero
      tagline="Where art meets skin"
      message="We are passionate about turning your unique ideas into stunning tattoos that you’ll cherish forever."
      cta="Book a Consultation"
    />
    <About
      title="About Us"
      message="Originally from Brazil, Natalia has spent years honing her craft and developing a distinctive style that blends intricate detail with bold, expressive designs. Her passion for tattooing is evident in every line and shade, ensuring each client leaves with a piece of art that they’ll cherish forever."
      image={natalia}
    />
    <Gallery />
    <FAQ />
    <Contact />
  </div>
</Layout>
