---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Cakes from "../components/Cakes.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";
import Divider from "../components/Divider.astro";
import HeroDivider from "../components/HeroDivider.astro";
---

<Layout>
  <div
    data-bs-spy="scroll"
    data-bs-target="#navbar"
    data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true"
  >
    <Hero />
    <HeroDivider />
    <About />
    <Divider />
    <Cakes />
    <Divider />
    <FAQ />
    <Divider />
    <Contact />
  </div>
</Layout>
