---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="container">
    <div class="px-4 pt-5 my-5 text-center">
      <h1 class="display-4 fw-bold text-body-emphasis">Success!</h1>
      <div class="col-lg-9 mx-auto">
        <p class="lead mb-4">
          Your message has been successfully submitted! We will review your
          inquiry and respond at our earliest convenience. Depending on when you
          contacted us, it might take a bit longer to get back to you. Please
          allow up to 3 business days for a response. Thank you for your
          understanding.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a href="/">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3"
              >Go back</button
            >
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
