---
import { INSTAGRAM_URL } from "../consts";
import { Image } from "astro:assets";
import zoro from "../assets/zoro.jpeg";
import crane from "../assets/crane.jpeg";
import cactus from "../assets/cactus.jpeg";
---

<section id="gallery" class="container">
  <div class="text-center">
    <h2 class="display-5 fw-bold text-body-emphasis">Our Creations</h2>
    <div class="col-lg-8 mx-auto">
      <p class="lead mb-4">
        Explore our gallery of custom tattoos, each crafted with passion and
        precision. From intricate sleeve designs to meaningful small tattoos, we
        bring your tattoo visions to life.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <Image
          src={zoro}
          class="img-fluid border rounded-3"
          alt="Custom Cake 1"
          width="300"
          height="300"
          loading="lazy"
        />
      </div>
      <div class="col-lg-4 mb-4">
        <Image
          src={crane}
          class="img-fluid border rounded-3"
          alt="Custom Cake 2"
          width="300"
          height="300"
          loading="lazy"
        />
      </div>
      <div class="col-lg-4 mb-4">
        <Image
          src={cactus}
          class="img-fluid border rounded-3"
          alt="Custom Cake 3"
          width="300"
          height="300"
          loading="lazy"
        />
      </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-4">
      <a href={INSTAGRAM_URL} target="_blank">
        <button type="button" class="btn btn-primary btn-lg px-4"
          >See More on Instagram</button
        >
      </a>
    </div>
  </div>
</section>
