---
import plant_studio from "../assets/plant_studio.jpg";
const { tagline, message, cta } = Astro.props;
---

<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center text-center position-relative bg-dark"
  style={`background-image: url(${plant_studio.src}); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 80vh;`}
>
  <div
    class="overlay bg-dark bg-opacity-75 position-absolute top-0 start-0 w-100 h-100"
  >
  </div>
  <div class="px-4 my-5 position-relative text-light">
    <h1 class="display-4 pb-4 fw-bold text-white">{tagline}</h1>
    <div class="col-8 mx-auto">
      <p class="lead mb-4 text-light">
        {message}
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="#contact">
          <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
            {cta}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .overlay {
    z-index: 1;
  }

  .position-relative {
    z-index: 2;
  }
</style>
