---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, NAV_ITEMS } from "../consts";
---

<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header links={NAV_ITEMS} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
